<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="User">
	<resultMap id="user" type="com.ginkgocap.ywxt.user.model.User">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="picPath" column="pic_path" />
	</resultMap>

	<sql id="columns">
	     <![CDATA[
		id,name,pic_path AS picPath,sex,company_name AS companyName,company_job AS companyJob
	    ]]>
	</sql>

	<select id="getByUserIds" parameterType="java.util.Map" resultType="user">
		SELECT <include refid="columns" />
		FROM tb_user WHERE id IN
	    <foreach collection="listUserId" item="item" open="(" separator="," close=")">
    	    #{item}
    	</foreach>
	</select>

</mapper>

