<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="FileIndex">
	
	<resultMap id="fileIndexMap" type="com.ginkgocap.ywxt.model.meeting.FileIndex">
        <result property="id" column="id"/>
        <result property="filePath" column="file_path"/>
        <result property="fileTitle" column="file_title"/>
        <result property="fileSize" column="file_size"/>
        <result property="status" column="status"/>
        <result property="authorId" column="author_id"/>
        <result property="md5" column="md5"/>
        <result property="taskId" column="task_id"/>
        <result property="moduleType" column="module_type"/>
        <result property="ctime" column="ctime"/>
        <result property="authorName" column="author_name"/>
        <result property="crc32" column="crc32"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	     <![CDATA[
		id as id,file_path as filePath,file_title as fileTitle,file_size as fileSize,status as status,author_id as authorId,md5 as md5,task_id as taskId,module_type as moduleType,ctime as ctime,author_name as authorName,crc32 as crc32
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tb_file_index (
        	id ,
        	file_path ,
        	file_title ,
        	file_size ,
        	status ,
        	author_id ,
        	md5 ,
        	task_id ,
        	module_type ,
        	ctime ,
        	author_name ,
        	crc32 
        ) VALUES (
        	#{id} ,
        	#{filePath} ,
        	#{fileTitle} ,
        	#{fileSize} ,
        	#{status} ,
        	#{authorId} ,
        	#{md5} ,
        	#{taskId} ,
        	#{moduleType} ,
        	#{ctime} ,
        	#{authorName} ,
        	#{crc32} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE tb_file_index SET
	        file_path = #{filePath} ,
	        file_title = #{fileTitle} ,
	        file_size = #{fileSize} ,
	        status = #{status} ,
	        author_id = #{authorId} ,
	        md5 = #{md5} ,
	        task_id = #{taskId} ,
	        module_type = #{moduleType} ,
	        ctime = #{ctime} ,
	        author_name = #{authorName} ,
	        crc32 = #{crc32} 
        WHERE 
	        id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM tb_file_index WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="fileIndexMap">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM tb_file_index 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	


    <select id="getByFilePath" resultType="fileIndex" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where file_path = #{filePath}
	    ]]>
    </select>
    
    <select id="getByFileTitle" resultType="fileIndex" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where file_title = #{fileTitle}
	    ]]>
    </select>
    
    <select id="getByFileSize" resultType="fileIndex" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where file_size = #{fileSize}
	    ]]>
    </select>
    
    <select id="getByStatus" resultType="fileIndex" parameterType="java.lang.Boolean">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where status = #{status}
	    ]]>
    </select>
    
    <select id="getByAuthorId" resultType="fileIndex" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where author_id = #{authorId}
	    ]]>
    </select>
    
    <select id="getByMd5" resultType="fileIndex" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where md5 = #{md5}
	    ]]>
    </select>
    
    <select id="getByTaskId" resultType="fileIndex" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where task_id = #{taskId}
	    ]]>
    </select>
    
    <select id="getByModuleType" resultType="fileIndex" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where module_type = #{moduleType}
	    ]]>
    </select>
    
    <select id="getByCtime" resultType="fileIndex" parameterType="java.util.Date">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where ctime = #{ctime}
	    ]]>
    </select>
    
    <select id="getByAuthorName" resultType="fileIndex" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where author_name = #{authorName}
	    ]]>
    </select>
    
    <select id="getByCrc32" resultType="fileIndex" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_file_index where crc32 = #{crc32}
	    ]]>
    </select>
    
	
</mapper>

