<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="ImMucmessage">

	<resultMap id="imMucmessageMap" type="com.ginkgocap.ywxt.model.meeting.ImMucmessage">
        <result property="id" column="Id"/>
        <result property="mucid" column="MUC_Id"/>
        <result property="senderId" column="sender_Id"/>
        <result property="senderType" column="sender_Type"/>
        <result property="msg" column="msg"/>
        <result property="msgType" column="msg_Type"/>
        <result property="time" column="time"/>
        <result property="messageId" column="message_Id"/>
        <result property="jtFileUrl" column="jtFile_Url"/>
        <result property="jtFileSuffixName" column="jtFile_Suffix_Name"/>
        <result property="jtFileType" column="jtFile_Type"/>
        <result property="jtFileName" column="jtFile_Name"/>
        <result property="jtFileSize" column="jtFile_Size"/>
        <result property="jtFileModuleType" column="jtFile_Module_Type"/>
        <result property="jtFileTaskId" column="jtFile_Task_Id"/>
        <result property="jtFileReserved1" column="jtFile_Reserved1"/>
        <result property="jtFileReserved2" column="jtFile_Reserved2"/>
        <result property="jtFileReserved3" column="jtFile_Reserved3"/>
        <result property="sequence" column="sequence"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		Id as id,MUC_Id as mucid,sender_Id as senderId,sender_Type as senderType,msg as msg,msg_Type as msgType,time as time,message_Id as messageId,jtFile_Url as jtFileUrl,jtFile_Suffix_Name as jtFileSuffixName,jtFile_Type as jtFileType,jtFile_Name as jtFileName,jtFile_Size as jtFileSize,jtFile_Module_Type as jtFileModuleType,jtFile_Task_Id as jtFileTaskId,jtFile_Reserved1 as jtFileReserved1,jtFile_Reserved2 as jtFileReserved2,jtFile_Reserved3 as jtFileReserved3,sequence as sequence
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_im_MUCMessage (
        	Id ,
        	MUC_Id ,
        	sender_Id ,
        	sender_Type ,
        	msg ,
        	msg_Type ,
        	time ,
        	message_Id ,
        	jtFile_Url ,
        	jtFile_Suffix_Name ,
        	jtFile_Type ,
        	jtFile_Name ,
        	jtFile_Size ,
        	jtFile_Module_Type ,
        	jtFile_Task_Id ,
        	jtFile_Reserved1 ,
        	jtFile_Reserved2 ,
        	jtFile_Reserved3 ,
        	sequence 
        ) VALUES (
        	#{id} ,
        	#{mucid} ,
        	#{senderId} ,
        	#{senderType} ,
        	#{msg} ,
        	#{msgType} ,
        	#{time} ,
        	#{messageId} ,
        	#{jtFileUrl} ,
        	#{jtFileSuffixName} ,
        	#{jtFileType} ,
        	#{jtFileName} ,
        	#{jtFileSize} ,
        	#{jtFileModuleType} ,
        	#{jtFileTaskId} ,
        	#{jtFileReserved1} ,
        	#{jtFileReserved2} ,
        	#{jtFileReserved3} ,
        	#{sequence} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE t_im_MUCMessage SET
	        MUC_Id = #{mucid} ,
	        sender_Id = #{senderId} ,
	        sender_Type = #{senderType} ,
	        msg = #{msg} ,
	        msg_Type = #{msgType} ,
	        time = #{time} ,
	        message_Id = #{messageId} ,
	        jtFile_Url = #{jtFileUrl} ,
	        jtFile_Suffix_Name = #{jtFileSuffixName} ,
	        jtFile_Type = #{jtFileType} ,
	        jtFile_Name = #{jtFileName} ,
	        jtFile_Size = #{jtFileSize} ,
	        jtFile_Module_Type = #{jtFileModuleType} ,
	        jtFile_Task_Id = #{jtFileTaskId} ,
	        jtFile_Reserved1 = #{jtFileReserved1} ,
	        jtFile_Reserved2 = #{jtFileReserved2} ,
	        jtFile_Reserved3 = #{jtFileReserved3} ,
	        sequence = #{sequence} 
        WHERE 
	        Id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_im_MUCMessage WHERE
        Id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="imMucmessageMap">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM t_im_MUCMessage 
	        WHERE 
		        Id = #{id} 
	    ]]>
	</select>
    <select id="getByIds" resultMap="imMucmessageMap" parameterType="java.util.Map">
		SELECT <include refid="columns" />
		    FROM t_im_MUCMessage 
	        WHERE 
		        Id in
		<foreach collection="ids" item="item" open="(" separator="," close=")">
    	    #{item}
    	</foreach>
	</select>
	


    <select id="getByMucid" resultMap="imMucmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where MUC_Id = #{mucid}
	    ]]>
    </select>
    
    <select id="getBySenderId" resultMap="imMucmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where sender_Id = #{senderId}
	    ]]>
    </select>
    
    <select id="getBySenderType" resultMap="imMucmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where sender_Type = #{senderType}
	    ]]>
    </select>
    
    <select id="getByMsg" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where msg = #{msg}
	    ]]>
    </select>
    
    <select id="getByMsgType" resultMap="imMucmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where msg_Type = #{msgType}
	    ]]>
    </select>
    
    <select id="getByTime" resultMap="imMucmessageMap" parameterType="java.util.Date">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where time = #{time}
	    ]]>
    </select>
    
    <select id="getByMessageId" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where message_Id = #{messageId}
	    ]]>
    </select>
    
    <select id="getByJtFileUrl" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Url = #{jtFileUrl}
	    ]]>
    </select>
    
    <select id="getByJtFileSuffixName" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Suffix_Name = #{jtFileSuffixName}
	    ]]>
    </select>
    
    <select id="getByJtFileType" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Type = #{jtFileType}
	    ]]>
    </select>
    
    <select id="getByJtFileName" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Name = #{jtFileName}
	    ]]>
    </select>
    
    <select id="getByJtFileSize" resultMap="imMucmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Size = #{jtFileSize}
	    ]]>
    </select>
    
    <select id="getByJtFileModuleType" resultMap="imMucmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Module_Type = #{jtFileModuleType}
	    ]]>
    </select>
    
    <select id="getByJtFileTaskId" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Task_Id = #{jtFileTaskId}
	    ]]>
    </select>
    
    <select id="getByJtFileReserved1" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Reserved1 = #{jtFileReserved1}
	    ]]>
    </select>
    
    <select id="getByJtFileReserved2" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Reserved2 = #{jtFileReserved2}
	    ]]>
    </select>
    
    <select id="getByJtFileReserved3" resultMap="imMucmessageMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where jtFile_Reserved3 = #{jtFileReserved3}
	    ]]>
    </select>
    
    <select id="getBySequence" resultMap="imMucmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_MUCMessage where sequence = #{sequence}
	    ]]>
    </select>
    
	
</mapper>

