<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="MeetingOrgan">
	<resultMap id="meetingOrganMap" type="com.ginkgocap.ywxt.model.meeting.MeetingOrgan">
		<result property="id" column="id" />
		<result property="meetingId" column="meeting_id" />
		<result property="organId" column="organ_id" />
		<result property="organName" column="organ_name" />
		<result property="organPhoto" column="organ_photo" />
		<result property="organType" column="organ_type" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="relation" column="relation" />
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id AS id,meeting_id AS meetingId,organ_id AS organId,organ_name AS organName,organ_photo AS organPhoto,
		organ_type AS organType,create_time AS createTime,update_time AS updateTime,relation
		]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tb_meeting_organ (
	        	id,
	        	meeting_id,
	        	organ_id,
	        	organ_name,
	        	organ_photo,
	        	organ_type,
	        	create_time,
	        	update_time,
	        	relation
	        ) VALUES (
	        	#{id},
	        	#{meetingId},
	        	#{organId},
	        	#{organName},
	        	#{organPhoto},
	        	#{organType},
	        	NOW(),
	        	NOW(),
	        	#{relation}
	        )
	    ]]>
	</insert>

	<update id="update">
		<![CDATA[
	        UPDATE tb_meeting_organ SET
	        	meeting_id = #{meetingId},
	        	organ_id = #{organId},
	        	organ_name = #{organName},
	        	organ_photo = #{organPhoto},
	        	organ_type = #{organType},
	        	update_time = NOW(),
	        	relation = #{relation}
	        WHERE 
		        id = #{id} 
	    ]]>
	</update>

	<delete id="delete">
		DELETE FROM tb_meeting_organ 
		WHERE id = #{id}
	</delete>
	
	<delete id="deleteBatch">
	    DELETE FROM tb_meeting_organ 
	    WHERE id IN <![CDATA[${ids}]]>
	</delete>
	
	<delete id="deleteByMeetingId">
    	DELETE FROM tb_meeting_organ 
    	WHERE meeting_id = #{meetingId}
	</delete>
	
	<select id="getById" resultType="meetingOrgan">
		SELECT
		<include refid="columns" />
	    <![CDATA[
		    FROM tb_meeting_organ
	        WHERE id = #{id} 
	    ]]>
	</select>

	<select id="getByMeetingId" resultType="meetingOrgan" parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
	    <![CDATA[
	        FROM tb_meeting_organ 
			WHERE meeting_id = #{meetingId}
	    ]]>
	</select>
	
	<select id="getByMeetingIdList" resultType="meetingOrgan" parameterType="java.util.List">
		SELECT <include refid="columns" />
	    FROM tb_meeting_organ 
		WHERE meeting_id IN
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>