<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="MeetingLiveUseRecord">
	<resultMap id="meetingLiveUseRecordMap" type="com.ginkgocap.ywxt.model.meeting.MeetingLiveUseRecord">
		<result property="id" column="id" />
		<result property="meetingId" column="meeting_id" />
		<result property="channelId" column="channel_id" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="userCreate" column="user_create" />

	</resultMap>
	
	<sql id="columns">
		<![CDATA[
			id AS id, meeting_id AS meetingId, channel_id AS channelId, start_time AS startTime,
			end_time AS endTime, gmt_create AS gmtCreate, user_create AS userCreate
		]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tb_meeting_live_use_record (
        	id,
        	meeting_id,
        	channel_id,
        	start_time,
        	end_time,
			gmt_create,
		    user_create
        ) VALUES (
        	#{id},
        	#{meetingId},
        	#{channelId},
        	#{startTime},
        	#{endTime},
        	#{gmtCreate},
        	#{userCreate}
        )
        
    ]]>
	</insert>

	<update id="update">
    <![CDATA[
        UPDATE tb_meeting_live_use_record
        SET meeting_id = #{meetingId},
	        channel_id = #{channelId},
	        start_time = #{startTime},
	        end_time = #{end_time}
        WHERE id = #{id}
    ]]>
	</update>

	<select id="getByMeetingId" resultType="meetingLiveUseRecord"
			parameterType="java.lang.Long">
		SELECT <include refid="columns" />
		<![CDATA[
	        FROM tb_meeting_live_use_record
			WHERE meeting_id = #{meetingId}
			ORDER BY gmt_create DESC
	    ]]>
	</select>

	<select id="getByChannelId" resultType="meetingLiveUseRecord"
			parameterType="java.lang.String">
		SELECT <include refid="columns" />
		<![CDATA[
	        FROM tb_meeting_live_use_record
			WHERE channel_id = #{channelId}
			ORDER BY gmt_create DESC
	    ]]>
	</select>



</mapper>
