<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="MeetingFile">
	<resultMap id="meetingFileMap" type="com.ginkgocap.ywxt.model.meeting.MeetingFile">
		<result property="id" column="id" />
		<result property="meetingId" column="meeting_id" />
		<result property="relatedId" column="related_id" />
		<result property="relatedType" column="related_type" />
		<result property="type" column="type" />
		<result property="fileName" column="file_name" />
		<result property="fileSize" column="file_size" />
		<result property="url" column="url" />
		<result property="suffixName" column="suffix_name" />
		<result property="taskId" column="task_id" />
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		<![CDATA[
		id,meeting_id as meetingId,related_id as relatedId,related_type as relatedType,type,file_name as fileName,file_size as fileSize,url,suffix_name as suffixName,task_is as taskId 
		]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tb_meeting_file (
	        	id,
	        	meeting_id,
	        	related_id,
	        	related_type,
	        	type,
	        	file_name,
	        	file_size,
	        	url,
	        	suffix_name,
	        	task_id
	        ) VALUES (
	        	#{id},
	        	#{meetingId},
	        	#{relatedId},
	        	#{relatedType},
	        	#{type},
	        	#{fileName},
	        	#{fileSize},
	        	#{url},
	        	#{suffixName},
	        	#{taskId}
	        )
	    ]]>
	</insert>

	<update id="update">
		<![CDATA[
	        UPDATE tb_meeting_file SET
	        	meeting_id = #{meetingId},
	        	related_id = #{relatedId},
	        	related_type = #{relatedType},
	        	type = #{type},
	        	file_name = #{fileName},
	        	file_size = #{fileSize},
	        	url = #{url},
	        	suffix_name = #{suffixName},
	        	task_id = #{taskId}
	        WHERE 
		        id = #{id} 
	    ]]>
	</update>

	<delete id="delete">
	    <![CDATA[
	        DELETE FROM tb_meeting_file WHERE id = #{id} 
	    ]]>
	</delete>
	
	<delete id="deleteBatch">
	    DELETE FROM tb_meeting_file WHERE id in in <![CDATA[${ids}]]>
	</delete>
	
	<delete id="deleteByRelatedId">
    	DELETE FROM tb_meeting_file WHERE meeting_id = #{relatedId}
	</delete>
	
	<select id="getById" resultType="meetingFile">
		SELECT
		<include refid="columns" />
	    <![CDATA[
		    FROM tb_meeting_file
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>

	<select id="getByRelatedId" resultType="meetingFile" parameterType="java.lang.String">
		SELECT
		<include refid="columns" />
	    <![CDATA[
	        FROM tb_meeting_file where related_id = #{relatedId}
	    ]]>
	</select>

</mapper>