<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="ImJoinremind">

	<resultMap id="imJoinremindMap" type="com.ginkgocap.ywxt.model.meeting.ImJoinremind">
        <result property="id" column="Id"/>
        <result property="userId" column="user_Id"/>
        <result property="mucId" column="muc_Id"/>
        <result property="type" column="type"/>
        <result property="operatorId" column="operator_Id"/>
        <result property="operatorDate" column="operator_Date"/>
        <result property="status" column="status"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		Id as id,user_Id as userId,muc_Id as mucId,type as type,operator_Id as operatorId,operator_Date as operatorDate,status as status
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_im_joinremind (
        	Id ,
        	user_Id ,
        	muc_Id ,
        	type ,
        	operator_Id ,
        	operator_Date ,
        	status 
        ) VALUES (
        	#{id} ,
        	#{userId} ,
        	#{mucId} ,
        	#{type} ,
        	#{operatorId} ,
        	#{operatorDate} ,
        	#{status} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE t_im_joinremind SET
	        user_Id = #{userId} ,
	        muc_Id = #{mucId} ,
	        type = #{type} ,
	        operator_Id = #{operatorId} ,
	        operator_Date = #{operatorDate} ,
	        status = #{status} 
        WHERE 
	        Id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_im_joinremind WHERE
        Id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="imJoinremindMap">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM t_im_joinremind 
	        WHERE 
		        Id = #{id} 
	    ]]>
	</select>
	


    <select id="getByUserId" resultMap="imJoinremindMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_joinremind where user_Id = #{userId}
	    ]]>
    </select>
    
    <select id="getByMucId" resultMap="imJoinremindMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_joinremind where muc_Id = #{mucId}
	    ]]>
    </select>
    
    <select id="getByType" resultMap="imJoinremindMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_joinremind where type = #{type}
	    ]]>
    </select>
    
    <select id="getByOperatorId" resultMap="imJoinremindMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_joinremind where operator_Id = #{operatorId}
	    ]]>
    </select>
    
    <select id="getByOperatorDate" resultMap="imJoinremindMap" parameterType="java.util.Date">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_joinremind where operator_Date = #{operatorDate}
	    ]]>
    </select>
    
    <select id="getByStatus" resultMap="imJoinremindMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_joinremind where status = #{status}
	    ]]>
    </select>
    
	
</mapper>

