<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SocialStatus">

    <resultMap id="socialStatusMap" type="com.ginkgocap.ywxt.model.meeting.SocialStatus">
        <result property="id" column="Id"/>
        <result property="mucId" column="muc_Id"/>
        <result property="userId" column="user_Id"/>
        <result property="type" column="type"/>
        <result property="topicId" column="topic_id"/>
        <result property="createdTime" column="created_time"/>
	</resultMap>
    
	<select id="queryList" parameterType="socialStatus" resultType="socialStatus">
		select id as id,
		muc_id as mucId,
		topic_id as topicId,
		type as type,
		user_id as userId,
		created_time as createdTime
		from t_im_social_status
		where 1=1
		<if test="id != null">
                       <![CDATA[ and id = #{id} ]]>
		</if>
		<if test="mucId != null and mucId !=''">
                       <![CDATA[ and muc_id = #{mucId} ]]>
		</if>
		<if test="type != null and type !=''">
                       <![CDATA[ and type = #{type} ]]>
		</if>
		<if test="userId != null and userId !=''">
                       <![CDATA[ and user_id = #{userId} ]]>
		</if>
		<if test="createdTime != null and createdTime !=''">
                       <![CDATA[ and created_time = #{createdTime} ]]>
		</if>
	</select>
	
	<select id="queryListWithoutMeetingByUserId" parameterType="java.lang.Long"  resultMap="socialStatusMap">
		select id as id,
		muc_id as mucId,
		topic_id as topicId,
		type as type,
		user_id as userId,
		created_time as createdTime
		from t_im_social_status
		where 1=1 and type in (1,2)
         and user_id = #{userId}
	</select>
	
	<select id="queryMeetingListByUserId" parameterType="java.lang.Long"  resultMap="socialStatusMap">
		select id as id,
		muc_id as mucId,
		topic_id as topicId,
		type as type,
		user_id as userId,
		created_time as createdTime
		from t_im_social_status
		where 1=1 and type in (3,4,5)  and user_id = #{userId}
	</select>

	<insert id="save" parameterType="socialStatus">
		  <![CDATA[ INSERT INTO t_im_social_status (`muc_id`,`topic_id`,`type`,`user_id`,`created_time`)
		VALUES (#{mucId}, #{topicId}, #{type}, #{userId}, #{createdTime})]]>
	</insert>

	<delete id="delete" parameterType="socialStatus">
		DELETE FROM t_im_social_status WHERE
		<if test="id != null">
                       <![CDATA[ and id = #{id} ]]>
		</if>
		<if test="mucId != null and mucId !=''">
                       <![CDATA[ and muc_id = #{mucId} ]]>
		</if>
		<if test="type != null and type !=''">
                       <![CDATA[ and type = #{type} ]]>
		</if>
		<if test="userId != null and userId !=''">
                       <![CDATA[ and user_id = #{userId} ]]>
		</if>
		<if test="createdTime != null and createdTime !=''">
                       <![CDATA[ and created_time = #{createdTime} ]]>
		</if>
	</delete>

</mapper>