<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="TopicChat">
	<resultMap id="topicChatMap" type="com.ginkgocap.ywxt.model.meeting.TopicChat">
        <result property="id" column="id"/>
        <result property="meetingId" column="meeting_id"/>
        <result property="senderType" column="sender_Type"/>
        <result property="topicId" column="topic_id"/>
        <result property="chatContent" column="chat_content"/>
        <result property="chatType" column="chat_type"/>
        <result property="messageId" column="message_Id"/>
        <result property="memberId" column="member_id"/>
        <result property="jtfileUrl" column="jtfile_url"/>
        <result property="jtfileSuffixName" column="jtfile_suffix_name"/>
        <result property="jtfileType" column="jtfile_type"/>
        <result property="jtfileName" column="jtfile_name"/>
        <result property="jtfileSize" column="jtfile_size"/>
        <result property="jtFileModuleType" column="jtFile_Module_Type"/>
        <result property="jtfileTaskId" column="jtfile_task_id"/>
        <result property="publishTime" column="publish_time"/>
        <result property="jtFileReserved1" column="jtFile_Reserved1"/>
        <result property="jtFileReserved2" column="jtFile_Reserved2"/>
        <result property="jtFileReserved3" column="jtFile_Reserved3"/>
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	        <![CDATA[
		id as id,meeting_id as meetingId,sender_Type as senderType,topic_id as topicId,chat_content as chatContent,chat_type as chatType,message_Id as messageId,member_id as memberId,jtfile_url as jtfileUrl,jtfile_suffix_name as jtfileSuffixName,jtfile_type as jtfileType,jtfile_name as jtfileName,jtfile_size as jtfileSize,jtFile_Module_Type as jtFileModuleType,jtfile_task_id as jtfileTaskId,publish_time as publishTime,jtFile_Reserved1 as jtFileReserved1,jtFile_Reserved2 as jtFileReserved2,jtFile_Reserved3 as jtFileReserved3
	    ]]>
	</sql>


	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tb_topic_chat (
        	id ,
        	meeting_id ,
        	sender_Type ,
        	topic_id ,
        	chat_content ,
        	chat_type ,
        	message_Id ,
        	member_id ,
        	jtfile_url ,
        	jtfile_suffix_name ,
        	jtfile_type ,
        	jtfile_name ,
        	jtfile_size ,
        	jtFile_Module_Type ,
        	jtfile_task_id ,
        	publish_time ,
        	jtFile_Reserved1 ,
        	jtFile_Reserved2 ,
        	jtFile_Reserved3 
        ) VALUES (
        	#{id} ,
        	#{meetingId} ,
        	#{senderType} ,
        	#{topicId} ,
        	#{chatContent} ,
        	#{chatType} ,
        	#{messageId} ,
        	#{memberId} ,
        	#{jtfileUrl} ,
        	#{jtfileSuffixName} ,
        	#{jtfileType} ,
        	#{jtfileName} ,
        	#{jtfileSize} ,
        	#{jtFileModuleType} ,
        	#{jtfileTaskId} ,
        	#{publishTime} ,
        	#{jtFileReserved1} ,
        	#{jtFileReserved2} ,
        	#{jtFileReserved3} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE tb_topic_chat SET
	        meeting_id = #{meetingId} ,
	        sender_Type = #{senderType} ,
	        topic_id = #{topicId} ,
	        chat_content = #{chatContent} ,
	        chat_type = #{chatType} ,
	        message_Id = #{messageId} ,
	        member_id = #{memberId} ,
	        jtfile_url = #{jtfileUrl} ,
	        jtfile_suffix_name = #{jtfileSuffixName} ,
	        jtfile_type = #{jtfileType} ,
	        jtfile_name = #{jtfileName} ,
	        jtfile_size = #{jtfileSize} ,
	        jtFile_Module_Type = #{jtFileModuleType} ,
	        jtfile_task_id = #{jtfileTaskId} ,
	        publish_time = #{publishTime} ,
	        jtFile_Reserved1 = #{jtFileReserved1} ,
	        jtFile_Reserved2 = #{jtFileReserved2} ,
	        jtFile_Reserved3 = #{jtFileReserved3} 
        WHERE 
	        id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM tb_topic_chat WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultType="topicChat">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM tb_topic_chat 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	


    <select id="getByMeetingId" resultType="topicChat" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where meeting_id = #{meetingId}
	    ]]>
    </select>
    
    
     <select id="selectByMeetingId" resultType="topicChat" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where meeting_id = #{meetingId} order by publish_time desc limit 1
	    ]]>
    </select>
    
    <select id="getBySenderType" resultType="topicChat" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where sender_Type = #{senderType}
	    ]]>
    </select>
    
    <select id="getByTopicId" resultType="topicChat" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where topic_id = #{topicId} order by publish_time desc
	    ]]>
    </select>
    
    <select id="getByChatContent" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where chat_content = #{chatContent}
	    ]]>
    </select>
    
    <select id="getByChatType" resultType="topicChat" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where chat_type = #{chatType}
	    ]]>
    </select>
    
    <select id="getByMessageId" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where message_Id = #{messageId}
	    ]]>
    </select>
    
    <select id="getByMemberId" resultType="topicChat" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where member_id = #{memberId}
	    ]]>
    </select>
    
    <select id="getByJtfileUrl" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtfile_url = #{jtfileUrl}
	    ]]>
    </select>
    
    <select id="getByJtfileSuffixName" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtfile_suffix_name = #{jtfileSuffixName}
	    ]]>
    </select>
    
    <select id="getByJtfileType" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtfile_type = #{jtfileType}
	    ]]>
    </select>
    
    <select id="getByJtfileName" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtfile_name = #{jtfileName}
	    ]]>
    </select>
    
    <select id="getByJtfileSize" resultType="topicChat" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtfile_size = #{jtfileSize}
	    ]]>
    </select>
    
    <select id="getByJtFileModuleType" resultType="topicChat" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtFile_Module_Type = #{jtFileModuleType}
	    ]]>
    </select>
    
    <select id="getByJtfileTaskId" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtfile_task_id = #{jtfileTaskId}
	    ]]>
    </select>
    
    <select id="getByPublishTime" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where publish_time = #{publishTime}
	    ]]>
    </select>
    
    <select id="getByJtFileReserved1" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtFile_Reserved1 = #{jtFileReserved1}
	    ]]>
    </select>
    
    <select id="getByJtFileReserved2" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtFile_Reserved2 = #{jtFileReserved2}
	    ]]>
    </select>
    
    <select id="getByJtFileReserved3" resultType="topicChat" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_topic_chat where jtFile_Reserved3 = #{jtFileReserved3}
	    ]]>
    </select>
    <select id="getLastNoticeTime" resultType="Date" parameterType="java.lang.Long">
    SELECT tc.publish_time FROM tb_meeting m,tb_topic_chat tc WHERE m.id=tc.meeting_id and tc.meeting_id=#{meetingId} ORDER BY tc.publish_time DESC LIMIT 1
    </select>
    <select id="getLastNoticeTimes" resultType="java.util.HashMap" parameterType="java.util.Map">
    SELECT m.id,max(tc.publish_time) time FROM tb_meeting m,tb_topic_chat tc WHERE m.id=tc.meeting_id and tc.meeting_id in
    	<foreach collection="ids" item="item" open="(" separator="," close=")">
    	    #{item}
    	</foreach>
    group by m.id
    </select>
    
	<select id="getMeetingMessageByPage" resultType="topicChat" parameterType="java.util.Map">
		SELECT <include refid="columns"/>
		FROM tb_topic_chat 
		WHERE meeting_id = #{meetingId}
		<if test="topicId != null">
			AND topic_id = #{topicId}
		</if>
		<if test="startTime != null">
			AND publish_time BETWEEN #{startTime} AND #{endTime}
		</if>
		ORDER BY publish_time DESC
		LIMIT #{startRow}, #{size}
	</select>
	<select id="getMeetingMessageCount" resultType="Integer" parameterType="java.util.Map">
		SELECT count(*)
		FROM tb_topic_chat 
		WHERE meeting_id = #{meetingId}
		<if test="topicId != null">
			AND topic_id = #{topicId}
		</if>
		<if test="startTime != null">
			AND publish_time BETWEEN #{startTime} AND #{endTime}
		</if>
	</select>
</mapper>