<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="ImNotifypushmessage">

	<resultMap id="imNotifypushmessageMap" type="com.ginkgocap.ywxt.model.meeting.ImNotifypushmessage">
        <result property="id" column="Id"/>
        <result property="userId" column="user_Id"/>
        <result property="notifyType" column="notify_Type"/>
        <result property="count" column="count"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		Id as id,user_Id as userId,notify_Type as notifyType,count as count
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_im_notifypushmessage (
        	Id ,
        	user_Id ,
        	notify_Type ,
        	count 
        ) VALUES (
        	#{id} ,
        	#{userId} ,
        	#{notifyType} ,
        	#{count} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE t_im_notifypushmessage SET
	        user_Id = #{userId} ,
	        notify_Type = #{notifyType} ,
	        count = #{count} 
        WHERE 
	        Id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_im_notifypushmessage WHERE
        Id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="imNotifypushmessageMap">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM t_im_notifypushmessage 
	        WHERE 
		        Id = #{id} 
	    ]]>
	</select>
	


    <select id="getByUserId" resultMap="imNotifypushmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_notifypushmessage where user_Id = #{userId}
	    ]]>
    </select>
    
    <select id="getByNotifyType" resultMap="imNotifypushmessageMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_notifypushmessage where notify_Type = #{notifyType}
	    ]]>
    </select>
    
    <select id="getByCount" resultMap="imNotifypushmessageMap" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM t_im_notifypushmessage where count = #{count}
	    ]]>
    </select>
    
	
</mapper>

