<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="MeetingData">
	<resultMap id="meetingDataMap" type="com.ginkgocap.ywxt.model.meeting.MeetingData">
        <result property="id" column="id"/>
        <result property="meetingId" column="meeting_id"/>
        <result property="dataName" column="data_name"/>
        <result property="dataId" column="data_id"/>
        <result property="dataType" column="data_type"/>
        <result property="dataReqType" column="data_req_type"/>
        <result property="dataUrl" column="data_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="relation" column="relation"/>
	</resultMap>
	
	<sql id="columns">
	  <![CDATA[
		id,meeting_id AS meetingId,data_name AS dataName,data_id AS dataId,
		data_type AS dataType,data_req_type AS dataReqType,data_url AS dataUrl,
		create_time AS createTime,update_time AS updateTime,relation
	    ]]>
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tb_meeting_data (
        	id,
        	meeting_id,
        	data_name,
        	data_id,
        	data_type,
        	data_req_type,
        	data_url,
        	create_time,
        	update_time,
        	relation
        ) VALUES (
        	#{id},
        	#{meetingId},
        	#{dataName},
        	#{dataId},
        	#{dataType},
        	#{dataReqType},
        	#{dataUrl},
        	NOW(),
        	NOW(),
        	#{relation}
        )
    ]]>
	</insert>
    
	<update id="update" >
	<![CDATA[
		UPDATE tb_meeting_data 
		SET meeting_id = #{meetingId},
			data_name = #{dataName},
			data_id = #{dataId},
			data_type = #{dataType},
			data_req_type = #{dataReqType},
			data_url = #{dataUrl},
			update_time = NOW(),
			relation = #{relation}
		WHERE 
			id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM tb_meeting_data 
        WHERE id = #{id} 
    ]]>
    </delete>
    
    <delete id="deleteByMeetingId">
    <![CDATA[
        DELETE FROM tb_meeting_data 
        WHERE meeting_id = #{meetingId} 
    ]]>
    </delete>
    
    <select id="getById" resultType="meetingData">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM tb_meeting_data 
	        WHERE id = #{id} 
	    ]]>
	</select>

    <select id="getByMeetingId" resultType="meetingData" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_data 
			WHERE meeting_id = #{meetingId}
	    ]]>
    </select>
    
    <select id="getByMeetingIdList" resultType="meetingData" parameterType="java.util.List">
		SELECT <include refid="columns"/>
		FROM tb_meeting_data 
		WHERE meeting_id IN 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
    </select>
    
    <select id="getDataByMeetingIdAndDataType" resultMap="meetingDataMap" parameterType="java.util.Map">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_data 
			WHERE meeting_id = #{meetingId} 
				AND data_type=#{dataType}
	    ]]>
    </select>
    
    <select id="getByDataName" resultType="meetingData" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_data 
			WHERE data_name = #{dataName}
	    ]]>
    </select>
    
    <select id="getByDataId" resultType="meetingData" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_data 
			WHERE data_id = #{dataId}
	    ]]>
    </select>
    
    <select id="getByDataType" resultType="meetingData" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_data 
			WHERE data_type = #{dataType}
	    ]]>
    </select>
    
    <select id="getByDataReqType" resultType="meetingData" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_data 
			WHERE data_req_type = #{dataReqType}
	    ]]>
    </select>
    
    <select id="getMyMeetingData" resultType="meetingDataQuery" parameterType="java.util.Map">
	     <![CDATA[
	     	SELECT d.id,
	     		d.meeting_id AS meetingId,
	     		d.data_name AS dataName,
	     		d.data_id AS dataId,
	     		d.data_type AS dataType,
	    		d.data_req_type AS dataReqType,
	    		d.data_url AS dataUrl,
	    		m.meeting_name AS meetingName
	        FROM tb_meeting_data d,
	        	tb_meeting m,
	        	tb_meeting_member mm 
	        WHERE mm.meeting_Id = m.id 
	        	and mm.member_id = #{memberId} 
	        	and  d.meeting_id = m.id 
	        	and  m.start_time >= #{beginDate}
	        	and m.start_time < #{endDate}
	        ORDER BY m.start_time
		]]>
	</select>
    
    <select id="getByDataUrl" resultType="meetingData" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_data 
			WHERE data_url = #{dataUrl}
	    ]]>
    </select>
</mapper>