<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="MeetingSignLabel">

	<resultMap id="meetingSignLabelMap" type="com.ginkgocap.ywxt.model.meeting.MeetingSignLabel">
        <result property="id" column="id"/>
        <result property="meetingId" column="meeting_id"/>
        <result property="labelName" column="label_name"/>
        <result property="isCustom" column="is_custom"/>
        <result property="createId" column="create_id"/>
        <result property="createName" column="create_Name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
	</resultMap>
	
	<sql id="columns">
	    <![CDATA[
		id,meeting_id AS meetingId,label_name AS labelName,is_custom AS isCustom,create_id AS createId,create_Name AS createName,create_time AS createTime,update_time AS updateTime
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tb_meeting_sign_label (
        	id,
        	meeting_id,
        	label_name,
        	is_custom,
        	create_id,
        	create_Name,
        	create_time,
        	update_time
        ) VALUES (
        	#{id},
        	#{meetingId},
        	#{labelName},
        	#{isCustom},
        	#{createId},
        	#{createName},
        	NOW(),
        	NOW()
        )
    ]]>
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE tb_meeting_sign_label
        SET meeting_id = #{meetingId} ,
	        label_name = #{labelName} ,
	        is_custom = #{isCustom} ,
	        create_id = #{createId} ,
	        create_Name = #{createName} ,
	        update_time = NOW() 
        WHERE id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM tb_meeting_sign_label 
        WHERE id = #{id} 
    ]]>
    </delete>
    
    <delete id="deleteByMeetingId">
    <![CDATA[
        DELETE FROM tb_meeting_sign_label 
        WHERE meeting_id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="meetingSignLabelMap">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM tb_meeting_sign_label 
	        WHERE id = #{id} 
	    ]]>
	</select>
	
    <select id="getByMeetingId" resultMap="meetingSignLabelMap" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_sign_label 
			WHERE meeting_id = #{meetingId}
	    ]]>
    </select>
    
    <select id="getByLabelName" resultMap="meetingSignLabelMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_sign_label 
			WHERE label_name = #{labelName}
	    ]]>
    </select>
    
    <select id="getByIsCustom" resultMap="meetingSignLabelMap" parameterType="Integer">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_sign_label 
			WHERE is_custom = #{isCustom}
	    ]]>
    </select>
    
    <select id="getByCreateId" resultMap="meetingSignLabelMap" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_sign_label 
			WHERE create_id = #{createId}
	    ]]>
    </select>
    
    <select id="getByCreateName" resultMap="meetingSignLabelMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_sign_label 
			WHERE create_Name = #{createName}
	    ]]>
    </select>
    
    <select id="getByCreateTime" resultMap="meetingSignLabelMap" parameterType="java.util.Date">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_sign_label 
			WHERE create_time = #{createTime}
	    ]]>
    </select>
</mapper>