<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="MeetingTime">
	<resultMap id="meetingTimeMap" type="com.ginkgocap.ywxt.model.meeting.MeetingTime">
        <result property="id" column="id"/>
        <result property="meetingId" column="meeting_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
	</resultMap>
	
	<sql id="columns">
	    <![CDATA[
		id AS id,meeting_id AS meetingId,start_time AS startTime,end_time AS endTime,create_time AS createTime,update_time AS updateTime
	    ]]>
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
    	INSERT INTO tb_meeting_time (
        	id,
        	meeting_id,
        	start_time,
        	end_time,
        	create_time,
        	update_time
        ) VALUES (
        	#{id},
        	#{meetingId},
        	#{startTime},
        	#{endTime},
        	NOW(),
        	NOW()
        )
    ]]>
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE tb_meeting_time 
        SET meeting_id = #{meetingId},
	        start_time = #{startTime},
	        end_time = #{endTime},
	        update_time = NOW()
        WHERE id = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM tb_meeting_time 
        WHERE id = #{id} 
    ]]>
    </delete>
    
    <delete id="deleteByMeetingId">
    <![CDATA[
        DELETE FROM tb_meeting_time 
        WHERE meeting_id = #{meetingId} 
    ]]>
    </delete>
    <select id="getById" resultType="meetingTime">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM tb_meeting_time 
	        WHERE id = #{id} 
	    ]]>
	</select>
	
    <select id="getByMeetingId" resultType="meetingTime" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_time 
	        WHERE meeting_id = #{meetingId}
	    ]]>
    </select>
    
    <select id="getByStartTime" resultType="meetingTime" parameterType="java.util.Date">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_time 
			WHERE start_time = #{startTime}
	    ]]>
    </select>
    
    <select id="getByEndTime" resultType="meetingTime" parameterType="java.util.Date">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM tb_meeting_time 
			WHERE end_time = #{endTime}
	    ]]>
    </select>
</mapper>