<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="MeetingLiveCreateRecord">
	<resultMap id="meetingLiveCreateRecordMap" type="com.ginkgocap.ywxt.model.meeting.MeetingLiveCreateRecord">
		<result property="id" column="id" />
		<result property="meetingId" column="meeting_id" />
		<result property="channelId" column="channel_id" />
		<result property="roomId" column="room_id" />
		<result property="createType" column="create_type" />
		<result property="durationType" column="duration_type" />
		<result property="remainDuration" column="remain_duration" />
		<result property="payOrderId" column="pay_order_id" />
		<result property="payMoney" column="pay_money"/>
		<result property="gmtCreate" column="gmt_create" />
		<result property="userCreate" column="user_create" />
		<result property="remark" column="remark" />

	</resultMap>
	
	<sql id="columns">
		<![CDATA[
			id AS id, meeting_id AS meetingId, channel_id AS channelId, room_id AS roomId,
			create_type AS createType, duration_type AS durationType, remain_duration AS remainDuration,
			pay_order_id AS payOrderId, pay_money AS payMoney, gmt_create AS gmtCreate, user_create AS userCreate, remark AS remark
		]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tb_meeting_live_create_record (
        	id,
        	meeting_id,
        	channel_id,
        	room_id,
        	create_type,
        	duration_type,
        	remain_duration,
        	pay_order_id,
        	pay_money,
			gmt_create,
		    user_create,
		    remark
        ) VALUES (
        	#{id},
        	#{meetingId},
        	#{channelId},
        	#{roomId},
        	#{createType},
        	#{durationType},
        	#{remainDuration},
        	#{payOrderId},
        	#{payMoney},
        	#{gmtCreate},
        	#{userCreate},
        	#{remark}
        )
        
    ]]>
	</insert>

	<update id="update">
    <![CDATA[
        UPDATE tb_meeting_live_create_record
        SET meeting_id = #{meetingId},
	        channel_id = #{channelId},
	        room_id = #{roomId},
	        create_type = #{createType},
	        duration_type = #{durationType},
	        remain_duration = #{remainDuration},
        	pay_order_id = #{payOrderId},
        	pay_money = #{payMoney},
        	remark = #{remark}
        WHERE id = #{id}
    ]]>
	</update>

	<update id="updateRemainDurationById" parameterType="java.util.Map">
		<![CDATA[
        UPDATE tb_meeting_live_create_record
        SET remain_duration = #{remainDuration}
        WHERE id = #{id}
    ]]>
	</update>

	<select id="getByMeetingId" resultType="meetingLiveCreateRecord"
			parameterType="java.lang.Long">
		SELECT <include refid="columns" />
		<![CDATA[
	        FROM tb_meeting_live_create_record
			WHERE meeting_id = #{meetingId}
			ORDER BY gmt_create DESC
	    ]]>
	</select>

	<select id="getById" resultType="meetingLiveCreateRecord"
			parameterType="java.lang.Long">
		SELECT <include refid="columns" />
		<![CDATA[
	        FROM tb_meeting_live_create_record
			WHERE id = #{id}
	    ]]>
	</select>
</mapper>
