<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="MeetingCount">

	<resultMap id="meetingCountMap" type="com.ginkgocap.ywxt.model.meeting.MeetingCount">
		<result property="id" column="id"/>
		<result property="meetingId" column="meetingId"/>
		<result property="readCount" column="readCount"/>
		<result property="shareCount" column="shareCount"/>
		<result property="collectCount" column="collectCount"/>
		<result property="evaluateCount" column="evaluateCount"/>
	</resultMap>
	
	<sql id="columns">
		<![CDATA[
		id,meetingId,readCount,shareCount,collectCount,evaluateCount
		]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO tb_meeting_count (
			id,
			meetingId,
			readCount,
			shareCount,
			collectCount,
			evaluateCount
		) VALUES (
			#{id},
			#{meetingId},
			#{readCount},
			#{shareCount},
			#{collectCount},
			#{evaluateCount}
		)
    ]]>
	</insert>

	<update id="update" >
	<![CDATA[
		UPDATE tb_meeting_count SET
			meetingId = #{meetingId},
			readCount = #{readCount},
			shareCount = #{shareCount},
			collectCount = #{collectCount},
			evaluateCount = #{evaluateCount}
		WHERE id = #{id} 
	]]>
	</update>

	<update id="updateReadCount" parameterType="java.lang.Long">
	<![CDATA[
		UPDATE tb_meeting_count 
		SET readCount = readCount + 1
		WHERE meetingId = #{meetingId}
	]]>
	</update>
	
	<update id="updateShareCount" parameterType="java.lang.Long">
	<![CDATA[
		UPDATE tb_meeting_count 
		SET shareCount = shareCount + 1
		WHERE meetingId = #{meetingId}
	]]>
	</update>
	
	<update id="updateCollectCount" parameterType="java.lang.Long">
	<![CDATA[
		UPDATE tb_meeting_count 
		SET collectCount = collectCount + 1
		WHERE meetingId = #{meetingId}
	]]>
	</update>

    <select id="getByMeetingId" resultType="meetingCount" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/>
		<![CDATA[
			FROM tb_meeting_count 
			WHERE meetingId = #{meetingId}
		]]>
	</select>
    
    <select id="getByMeetingIdList" resultType="meetingCount" parameterType="java.util.List">
	    SELECT <include refid="columns"/>
	    FROM tb_meeting_count 
	    WHERE meetingId IN
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>